{:organization "HBPMedical"
 :organization-name "HBP Medical Informatics platform"
 :logo {:href "https://mip.humanbrainproject.eu"
        :src "img/hbp.png"}
 :links [{:text "Blog" :href "http://47deg.com/blog"}
         {:text "Talks" :href "http://47deg.com/presentations"}
         {:text "Contact" :href "http://47deg.com/contact"}]
 :social {:twitter "HBPMedical"
          :facebook ""
          :linkedin "in/medical-informatics-platform-862096130"}
 :languages #{"Scala" "Java" "Python" "R" "Matlab"}
 :included-projects #{"2d-biological-rules"
                      "airflow-imaging-plugins"
                      "ansible-airflow"
                      "ansible-docker"
                      "ansible-java"
                      "ansible-marathon"
                      "ansible-mesos"
                      "ansible-zookeeper"
                      "base-docker-images"
                      "bhtsne"
                      "bootstrap-mip-app"
                      "CCC"
                      "data-catalog-setup"
                      "data-db-setup"
                      "data-factory-airflow-dags"
                      "data-tracking"
                      "deployment"
                      "development-guidelines"
                      "dev-setup"
                      "docker-airflow-test-py34"
                      "docker-airflow-test-py35"
                      "docker-alembic"
                      "docker-create-databases"
                      "docker-flyway"
                      "docker-pgtap"
                      "ehr-to-i2b2"
                      "exareme"
                      "factor-analysis"
                      "functions-repository"
                      "gene-expression"
                      "hadrian"
                      "hbpjdbcconnect"
                      "hbplregress"
                      "HBPMedical.github.io"
                      "hbpsummarystats"
                      "hierarchizer"
                      "i2b2-flattening"
                      "i2b2-import"
                      "i2b2-setup"
                      "jdbc-driver-raw"
                      "JDBCValidator"
                      "jsi-functions"
                      "labkey-docker"
                      "meta-db-setup"
                      "mip-algorithms"
                      "MipExareme-Docker"
                      "MIPMap"
                      "MIPMap-demo-ehr-to-i2b2"
                      "MIPMap-docker"
                      "MIPMapReduced"
                      "MIPMapRew"
                      "mip-microservices-infrastructure"
                      "mip-scripts"
                      "mri-preprocessing-pipeline"
                      "org"
                      "pacs-anonymizer-connector"
                      "PivotTable"
                      "portal-backend"
                      "portal-frontend"
                      "portal-specs"
                      "PostgresRAW"
                      "PostgresRAW-docker"
                      "PostgresRAW-UI"
                      "PostgresRAW-UI-docker"
                      "PPMIXMLToCSV"
                      "python-base-docker-images"
                      "raw"
                      "RAW-deploy"
                      "Rtsne"
                      "sample-datasets-db"
                      "SP8LocalMirrorBundle"
                      "specifications"
                      "sunburst"
                      "svm-classification"
                      "WebMIPMap"
                      "WebMIPMap-docker"
                      "woken"
                      "woken-db-setup"
                      "woken-messages"
                      "xnat-docker"
                     }
 :extra-repos []
 :project-logos {"2d-biological-rules" "img/chuv.jpg"
                 "airflow-imaging-plugins" "img/chuv.jpg"
                 "ansible-airflow" "img/chuv.jpg"
                 "ansible-docker" "img/chuv.jpg"
                 "ansible-java" "img/chuv.jpg"
                 "ansible-marathon" "img/chuv.jpg"
                 "ansible-mesos" "img/chuv.jpg"
                 "ansible-zookeeper" "img/chuv.jpg"
                 "base-docker-images" "img/chuv.jpg"
                 "bhtsne" "img/lumc.svg"
                 "bootstrap-mip-app" "img/chuv.jpg"
                 "CCC" "img/tau.png"
                 "data-catalog-setup" "img/chuv.jpg"
                 "data-db-setup" "img/chuv.jpg"
                 "data-factory-airflow-dags" "img/chuv.jpg"
                 "data-tracking" "img/chuv.jpg"
                 "deployment" "img/chuv.jpg"
                 "development-guidelines" "img/chuv.jpg"
                 "dev-setup" "img/chuv.jpg"
                 "docker-airflow-test-py34" "img/chuv.jpg"
                 "docker-airflow-test-py35" "img/chuv.jpg"
                 "docker-alembic" "img/chuv.jpg"
                 "docker-create-databases" "img/chuv.jpg"
                 "docker-flyway" "img/chuv.jpg"
                 "docker-pgtap" "img/chuv.jpg"
                 "ehr-to-i2b2" "img/chuv.jpg"
                 "exareme" "img/uoa.png"
                 "factor-analysis" "img/chuv.jpg"
                 "functions-repository" "img/chuv.jpg"
                 "gene-expression" "img/chuv.jpg"
                 "hadrian" "img/image-project-info.png"
                 "hbpjdbcconnect" "img/chuv.jpg"
                 "hbplregress" "img/chuv.jpg"
                 "hbpsummarystats" "img/chuv.jpg"
                 "hierarchizer" "img/chuv.jpg"
                 "i2b2-flattening" "img/chuv.jpg"
                 "i2b2-import" "img/chuv.jpg"
                 "i2b2-setup" "img/chuv.jpg"
                 "jdbc-driver-raw" "img/epfl.png"
                 "JDBCValidator" "img/epfl.png"
                 "jsi-functions" "img/jsi.jpg"
                 "labkey-docker" "img/chuv.jpg"
                 "meta-db-setup" "img/chuv.jpg"
                 "mip-algorithms" "img/uoa.png"
                 "MipExareme-Docker" "img/uoa.png"
                 "MIPMap" "img/aueb.jpg"
                 "MIPMap-demo-ehr-to-i2b2" "img/chuv.jpg"
                 "MIPMap-docker" "img/epfl.png"
                 "MIPMapReduced" "img/aueb.jpg"
                 "MIPMapRew" "img/aueb.jpg"
                 "mip-microservices-infrastructure" "img/chuv.jpg"
                 "mip-scripts" "img/uoa.png"
                 "mri-preprocessing-pipeline" "img/chuv.jpg"
                 "pacs-anonymizer-connector" "img/epfl.png"
                 "PivotTable" "img/aueb.jpg"
                 "portal-backend" "img/chuv.jpg"
                 "portal-frontend" "img/chuv.jpg"
                 "portal-specs" "img/chuv.jpg"
                 "PostgresRAW" "img/epfl.png"
                 "PostgresRAW-docker" "img/epfl.png"
                 "PostgresRAW-UI" "img/epfl.png"
                 "PostgresRAW-UI-docker" "img/epfl.png"
                 "PPMIXMLToCSV" "img/aueb.jpg"
                 "python-base-docker-images" "img/chuv.jpg"
                 "raw" "img/epfl.png"
                 "RAW-deploy" "img/epfl.png"
                 "Rtsne" "img/lumc.svg"
                 "sample-datasets-db" "img/chuv.jpg"
                 "SP8LocalMirrorBundle" "img/epfl.png"
                 "specifications" "img/chuv.jpg"
                 "sunburst" "img/chuv.jpg"
                 "svm-classification" "img/chuv.jpg"
                 "WebMIPMap" "img/aueb.jpg"
                 "WebMIPMap-docker" "img/epfl.png"
                 "woken" "img/chuv.jpg"
                 "woken-db-setup" "img/chuv.jpg"
                 "woken-messages" "img/chuv.jpg"
                 "xnat-docker" "img/chuv.jpg"
                }
 :token "GITHUB_TOKEN"
 :analytics "UA-80660232-2"
 :style {:primary-color "#F44336"
         :header {:background "linear-gradient(0deg, rgba(30, 39, 53, 0.28), rgba(30, 39, 53, 0.28)), url(\"img/header-background.jpg\") no-repeat center center"
                  :backgroundSize "cover"}
         :font {:url "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400"
                :base "'Open sans', sans-serif"
                :headings "'Poppins', sans-serif"
                :sizes {:light 300
                        :regular 400
                        :semi-bold 600
                        :bold 700}}}}
